:root{
    --main-padding-size: clamp(50px, 10% ,300px);
    --red-color: rgb(211, 117, 117);
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr;
}

header{
    background-color: black;
    height: 55px;
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 0 var(--main-padding-size);
}

header > span{
    color: gray;
    font-size: 1.8em;
    flex-shrink: 0;
}

nav{
    display: flex;
    max-width: 200px;
    width: 100%;
    gap: 10px;
    justify-content: space-between;
}

button{
    padding: 0;
    font-family: inherit;
    color: white;
    background: none;
    font-size: 1.1em;
    border: none;
    cursor: pointer;
}

button:hover{
    color: rgb(175, 174, 174);
}

button:active{
    color: rgb(73, 73, 73);
}

#content{
    background-color: rgb(12, 12, 12);
    padding-top: 50px;
}

#content > *{
    margin: 0 var(--main-padding-size);
    color: white;
}

.welcome{
    display: flex;
    align-items: stretch;
    gap: 100px;
    height: 600px;
}

img{
    width: fit-content;
    opacity: 40%;
}

img:hover{
    opacity: 60%;
}

.rightSide{
    max-width: 90ch;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.rightSide h2{
    font-size: 4em;
    margin-block: 0;
    color: rgb(216, 216, 216);
}

.rightSide p{
    padding: 0;
    margin: 0;
    color: rgb(83, 90, 97);
    position: relative;
}

.rightSide p::before{
    position: absolute;
    content: "";
    background-color: var(--red-color);
    height: 2px;
    width: 120px;
    top: 40px
}

.catalogue{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 100px;
    row-gap: 25px;
}

.menuItem{
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    position: relative;
}

.menuItem > div > p{
    margin: 0;
}

.menuItem::after{
    position: absolute;
    content: "";
    height: 1px;
    width: 400px;
    background-color: var(--red-color);
    top: 80px;
}

.menuItem > div > h2{
    margin-bottom: 5px;
}

li{
    list-style: none;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu > h1{
    color: rgb(240, 143, 143);
}